@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: #1f2937;
}

.btn {
    border: 2px solid #1f2937;
    background: #1f2937;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn:hover {
    color: #1f2937;
    background: #fff;
    border-color: #e5e7eb;
}

.btn-secondary {
    color: #1f2937;
    background: #fff;
    border: 2px solid #e5e7eb;
}

.btn-secondary:hover, .hero-socials a:hover {
    border-color: #1f2937;
    background: #1f2937;
    color: #fff;
}

/* navbar styling */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
}

.navbar-logo {
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 10px;
}

.navbar-logo i {
    font-size: 30px;
}

.navbar-menu {
    display: flex;
    gap: 20px;
}

.navbar-link {
    font-size: 14px;
    font-weight: 500px;
    transition: all 0.5s ease;
}

.navbar-link:hover {
    color: #000;
}

.navbar-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-location h5 {
    font-weight: 500;
    color: #6b7280;
    font-size: 12px;
}

.navbar-location p {
    font-size: 11px;
    font-weight: 600;
}

.navbar-actions .btn {
    padding: 6px 10px;
    font-size: 12px;
    font-weight: 500;
}

/* hero section styling */

.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 60px;
    gap: 60px;
    height: calc(100vh - 75p);
}

.hero-content, .hero-intro {
    width: 50%;
}

.hero-image {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    background-color: #a7a5a5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-placeholder-text {
    font-size: 18px;
    color: #1f2937;
}

.hero-content h2 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 400;
    margin-top: 20px;
    width: 85%;
}

.hero-intro {
    padding-right: 40px;
}

.hero-intro h3 {
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 10px;
}

.hero-intro p {
    color: #6b7280;
    font-weight: 500;
    margin-bottom: 30px;
}

.hero-actions, .skills-actions {
    display: flex;
    gap: 10px;
}

.hero-actions .btn, .skills-actions .btn{
    padding: 6px 20px;
    font-size: 12px;
    font-weight: 500;
}

.hero-socials {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 16px;
    right: 30px;
    top: 20%;
}

.hero-socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: 2px solid #e5e7eb;
    padding: 8px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.skills {
    padding: 60px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.skills-description, .skills-stats {
    width: 50%;
}

.skills-description {
    padding-right: 80-px;
}

.skills-description h3 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
}

.skills-description p {
    color: #6b7280;
    font-size: 14px;
    margin-bottom: 30px;
}

.skills-stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.skills-stats i{
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.skill-info {
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.skill-info h5 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skill-info p {
    width: 50%;
    text-align: center;
    font-size: 14px;
    color: #7a7a7a;
    font-weight: 500;
}
